<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>

  </head>
  <body>
        <div th:fragment="header" style="background-image: url(/images/backgroun.jpg); height: 200px;color: white;">
          
          <div class="col-9">
            <h1> <img src="/images/logoFpt.png" class="mr-4" alt="" width="280" height="90"><i> MANAGER SHOPPING</i></h1>
            <h3><i>A place to shop for reputable brands</i></h3>
        </div>
        <div class="col-3 float-right">
          
        </div>
        </div>
  </body>
</html>